<%- include('../../partials/header.ejs')%> 
<div class="container my-container my-5">
    <h1 class="display-1 text-center font-weight-bold">404</h1>
    <h2 class="display-4 text-center">Page Not Found</h2>
    <hr>
    <p class="text-center lead">Please provide a valid url</p>
</div>
<%- include('../../partials/footer.ejs') %>
</body>
</html>
