<%- include('../../partials/header.ejs')%> 
<div class="container my-container my-5">
    <h1 class="display-1 text-center font-weight-bold"><%= status %></h1>
    <h2 class="display-4 text-center">Internal Server Error</h2>
    <hr>
    <p class="text-center lead">We are sorry for your trouble</p>
</div>
<%- include('../../partials/footer.ejs') %>
</body>
</html>
