<%- include('../../partials/header.ejs') %> 
<div class="container-fluid my-container">
    <div class="row">
        <div class="col-md-2">
            <%- include('../../partials/sidenavbar.ejs') %> 
        </div>
        <div class="col-md-10">
            <h1 class="display-1 text-center">Welcome to your dashboard</h1>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>
</body>
</html>
