<%- include('../../partials/header.ejs') %> 
<div class="container my-container my-5">
    <div class="row">
        <h1 class="display-1 text-center">Welcome to your dashboard</h1>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>
</body>
</html>
